/* line 1, ../sass/global.scss */
body {
  font-size: 14px;
}
/* line 3, ../sass/global.scss */
body .logo {
  width: 140px;
}
/* line 6, ../sass/global.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 10, ../sass/global.scss */
body td.fit, body th.fit {
  width: 1px;
  white-space: nowrap;
}
/* line 18, ../sass/global.scss */
body .navbar .navbar-collapse li img {
  width: 24px;
}
/* line 22, ../sass/global.scss */
body .navbar .navbar-collapse li .dropdown .dropdown-menu {
  right: 0 !important;
  left: auto;
}
/* line 51, ../sass/global.scss */
body .custom-breadcrumb ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 54, ../sass/global.scss */
body .custom-breadcrumb ul li {
  display: inline-block;
}
/* line 56, ../sass/global.scss */
body .custom-breadcrumb ul li:first-child {
  font-weight: bold;
}
/* line 59, ../sass/global.scss */
body .custom-breadcrumb ul li:not(:last-child) {
  font-weight: bold;
}
/* line 60, ../sass/global.scss */
body .custom-breadcrumb ul li:not(:last-child):after {
  content: ' \203A';
  margin-left: 5px;
  margin-right: 5px;
}
/* line 67, ../sass/global.scss */
body .custom-breadcrumb ul li a {
  color: #007bff;
  font-weight: bold;
}
/* line 70, ../sass/global.scss */
body .custom-breadcrumb ul li a:hover, body .custom-breadcrumb ul li a:focus {
  text-decoration: none;
  color: #0071ea;
}
/* line 81, ../sass/global.scss */
body .custom-pagination ul li a {
  font-size: 12px;
}
/* line 83, ../sass/global.scss */
body .custom-pagination ul li a.btn-secondary {
  background-color: #808080;
  border-color: #808080;
  color: #000000;
}
/* line 88, ../sass/global.scss */
body .custom-pagination ul li a:not(.btn-secondary) {
  font-weight: bold;
}
/* line 91, ../sass/global.scss */
body .custom-pagination ul li a.active {
  cursor: default;
}
/* line 98, ../sass/global.scss */
body table {
  font-size: 12px;
}
/* line 101, ../sass/global.scss */
body .text-nowrap {
  vertical-align: middle;
}
/* line 105, ../sass/global.scss */
body label.error {
  margin-top: 4px;
  font-size: 12px;
  color: red;
}
/* line 113, ../sass/global.scss */
body #sidebar-wrapper .list-group .list-group-item {
  padding: 0px;
  border-bottom: 0px;
}
/* line 116, ../sass/global.scss */
body #sidebar-wrapper .list-group .list-group-item a {
  padding: 0.75rem 1.25rem;
  color: #212529;
  display: block;
}
/* line 120, ../sass/global.scss */
body #sidebar-wrapper .list-group .list-group-item a:hover, body #sidebar-wrapper .list-group .list-group-item a:focus {
  text-decoration: none;
  background-color: #f6f7fd;
}
/* line 124, ../sass/global.scss */
body #sidebar-wrapper .list-group .list-group-item a.active {
  background-color: #f6f7fd;
}
/* line 128, ../sass/global.scss */
body #sidebar-wrapper .list-group .list-group-item .menu-title {
  padding: 0.70rem 1.25rem;
  color: #767676;
  display: block;
}
/* line 135, ../sass/global.scss */
body #sidebar-wrapper .list-group .list-group-item .list-group-sub-menu li a {
  font-size: 13px;
}
/* line 138, ../sass/global.scss */
body #sidebar-wrapper .list-group .list-group-item .list-group-sub-menu li a span.fa {
  font-size: 10px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 6px;
}

/* line 1, ../sass/_login.scss */
.login {
  height: 100%;
  background: linear-gradient(135deg, #0c84b4 0%, #21a7c1 46%, #4092ff 88%);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 6, ../sass/_login.scss */
.login .body {
  background: transparent !important;
}
/* line 9, ../sass/_login.scss */
.login .body .login-card .logo-login {
  width: 80px;
  margin-bottom: 10px;
}
/* line 13, ../sass/_login.scss */
.login .body .login-card .card-information {
  position: relative;
  -webkit-box-shadow: 10px 12px 19px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 12px 19px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 12px 19px -23px rgba(0, 0, 0, 0.75);
}
/* line 18, ../sass/_login.scss */
.login .body .login-card .card-information .wallpaper {
  background: url("/assets/img/bg1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
/* line 24, ../sass/_login.scss */
.login .body .login-card .card-information .background-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, rgba(27, 119, 255, 0.7), rgba(117, 183, 255, 0.7), rgba(27, 119, 255, 0.7));
  width: 100%;
  height: 100%;
}
/* line 31, ../sass/_login.scss */
.login .body .login-card .card-information .background-wrapper .information {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
/* line 36, ../sass/_login.scss */
.login .body .login-card .card-information .background-wrapper .information .information-wrapper {
  color: white;
  display: table-cell;
  vertical-align: middle;
}
/* line 40, ../sass/_login.scss */
.login .body .login-card .card-information .background-wrapper .information .information-wrapper .desc {
  font-size: 16px;
}
